#introduction{
    position: relative;
    top: 90px;
}
#iBox{
    position: relative;
    top: 10px;

    background: #268be0;
    padding: 10px 10px 10px 10px;

    text-shadow: 1px 1px 1px black; /* 1px Horizontal, 1px Vertical, 1px Blur */
    text-align: center;

    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.7);
    box-shadow: inset 0px 2px rgba(0,0,0,0.2), inset 0px 4px rgba(0,0,0,0.1),
                inset 0px 10px 20px rgba(0,0,0,0.25), inset 0px -15px 30px rgba(0,0,0,0.3);
}
#iBox h1,h2,h3,span{
    color: white;
}
#iBox h1{
    font-size: 30px;
}
#iBox h2{
    font-size: 25px;
    padding: 10px 0px 10px 20px;
    text-align: left;
}
#iBox h2 span{
    margin-right: 10px;
}
#iBox h3{
    font-size: 20px;
    padding: 5px 0px 0px 20px;
    text-align: left;
}
